.column {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  line-height: 12px;
  border-right: 1px solid var(--border-color);
  /* flex */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.column:nth-child(8) {
  border-right: none;
}

.column_current {
  box-shadow: inset 0 0 12px var(--border-color);
}

.column__header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 5px;
  justify-content: center;
  width: 100%;
}
.column__content {
  width: 100%;
  flex: 1;
  /* flex */
  display:flex;
  flex-direction: column;
  align-items: center;

}

.column__plus {
  height: 24px;
  width: 24px;
  background: none;
}

/* Grid Placements */
.sunday {
  grid-area: sunday;
}
.monday {
  grid-area: monday;
}
.tuesday {
  grid-area: tuesday;
}
.wednesday {
  grid-area: wednesday;
}
.thursday {
  grid-area: thursday;
}
.friday {
  grid-area: friday;
}
.saturday {
  grid-area: saturday;
}
