.column {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  line-height: 12px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.column:nth-child(8) {
  border-right: none;
}

.column__header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
  width: 100%;
}
.column__content {
  flex: 1;
}

.column__plus {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

/* Grid Placements */
.sunday {
  grid-area: sunday;
}
.monday {
  grid-area: monday;
}
.tuesday {
  grid-area: tuesday;
}
.wednesday {
  grid-area: wednesday;
}
.thursday {
  grid-area: thursday;
}
.friday {
  grid-area: friday;
}
.saturday {
  grid-area: saturday;
}
