.workout {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 8px 4px;
    margin: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;

}
.workout:hover {
    background-color: var(--hl-color);
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

.workout-title {
    border-bottom: 1px solid var(--border-color);
    padding: 4px 8px;
}
.workout_description {
    border-top: 1px solid var(--border-color);
    padding: 4px 8px;
}

.sets {
    padding: 4px 24px;
    font-size: 2em;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}