.calendar_grid{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.calendar_header {
    display: flex;
    justify-content: center;
    width:100%;
}

.calendar_main {
    flex: 1;
    max-width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.calendar_week {
    display:flex;
    column-gap: 5px;
}
.calendar_week:hover {
    background-color: rgba(30, 255, 0, 0.5);
    height: 60px;
}

.calendar_block {
    height: 60px;
    width:72px;
    border: 1px solid black;
    display: flex;
    position: relative;
}

.extra_block {
    color: gray;
    border-color: gray;
}

.current_date {
    box-shadow: inset -2px -3px 4px rgba(0, 0, 0, 0.6);
}
.calendar_block p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
