:root {
    --bg-color: #6F523B;
    --bg2-color: #A56336;
    --text-color:#143642;
    --border-color: #201209;
    --ed-color: #935E38;
    --cd-color: #143642;
    --hl-color: #b77035;
}
* {
    box-sizing: border-box;
    background-color: var(--bg2-color);
    color:var(--text-color);
}
.App {
    display:flex;
    height: 100vh;
    align-items: center;
    background-color: var(--bg-color);
}
.container {
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header header"
    "sunday monday tuesday wednesday thursday friday saturday"
    "footer footer footer footer footer footer footer";
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px var(--border-color);
}
